#user>input{
    width: 100px;
    height:100px;
    background-color: blanchedalmond;
    margin: 40px 40px 40px 40px;
}

#computer_output{
    width: 200px;
    height: 200px;
    background-color: aqua;
}